* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.box {
    height: 200px;
    padding: 10px;
    margin-right: 10px;
}

.box p {
    font-size: 20px;
    color: white;
}

.box1 {
    background-color: orange;
    order: 1;
}

.box2 {
    background-color: green;
    order: 3;
}

.box3 {
    background-color: blue;
    order: 2;
}